/* .header {
    text-align: center;
  }

.split-left{
    background-color:#1E1E64;
    height: 100vh;
  }

.split-right{
    background-color:#EAE6F6;
    height: 100vh;
  }

  .button {
    border-radius: 5px;
    background-color: #1E1E64;

  } */
